asgiref
attrs
build
CacheControl
certifi
charset-normalizer
cleo
colorama
crashtest
distlib
Django
dulwich
filelock
gunicorn
html5lib
idna
importlib-metadata
installer
jaraco.classes
jsonschema
jsonschema-specifications
keyring
lockfile
Markdown
more-itertools
msgpack
packaging
pexpect
pkginfo
platformdirs
ptyprocess
pyproject_hooks
pywin32-ctypes
rapidfuzz
referencing
requests
shellingham
six
sqlparse
tomli
tomlkit
trove-classifiers
typing_extensions
tzdata
urllib3
virtualenv
webencodings
zipp
